.Navbar{
   background: rgb(30, 30, 30);
height:5rem;
width: 100vw;
max-width: 75rem;
margin: 0 auto;
padding: 1rem 2rem;
display: flex;
align-items: center;
justify-content: space-between;
position: sticky;
top: 0;
z-index: 3;

}
.logo{
object-fit:cover;
width: 4rem;
height: 3rem;

}
.desktopMenuItemList:hover{
color: yellow;
padding-bottom: 0.5rem;
border-bottom: 2px solid yellow;

}
.desktoMenuImg{
   object-fit:cover; 
   width: 1rem;
   height: 1rem;
   margin: 1rem;

}

.desktopMenuItemList{
margin: 1rem;
cursor: pointer;

}
.desktopMenuBtn{
background: white;
color: black;
bottom: none;
display:flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
border-radius: 2rem;
}
.active{
color: yellow;
padding-bottom :0.5rem; 
border-bottom: 3px solid yellow;
}
.mobmeanu{
/* display: none; */
object-fit: cover;
height: 1.8rem;

}

.navmenu{
position: absolute;
top: 4rem;
right: 2rem;
z-index: 2;
display:flex;
flex-direction: column;
padding: 0.5rem;
height: fit-content;
min-width: 15rem;
background: rgb(40, 40, 40);
border-radius: 1rem;
}
.ItemList{
color: white;
padding: 0.5rem 3rem;
margin: 0.25rem;
background: rgb(30, 30, 30);
}

.ItemList:hover{
   color: yellow;
   padding-bottom: 0.5rem;
   border-bottom: 2px solid yellow;
   }
   @media screen and ( max-width:720px){
.mobmeanu {
 display: flex;

      }
 .desktopMenu{
 display: none;

 }
 .desktopMenuBtn{
 display: none;

 }
      
   }






