#skills{
overflow: hidden;
width: 100vw;
max-width: 65vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 0 auto;
}
.skilltitle{
font-size: 3rem;
font-weight: 600;
padding-top: 3rem;
margin-bottom: 1.5rem;
}
.skilldesc{
 font-weight:400;
 font-size: 1rem;
 max-width: 51rem;
 padding: 0 2rem;
}
.skillbars{
 margin: 1.5rem;
 width: 100vw;
 max-width: 80%;
 text-align: left;
}
.skillbar{
display: flex;
margin: 1rem;
padding: 1.5rem 2rem;
border-radius: 0.5rem;
background: rgb(50, 50, 50);
}
.skillimg{
object-fit: cover;
width: 3rem;
height: 3rem;
margin-right: 2rem;
}
.skilltext>{
font-size: 0.9rem;
font-weight: 200;
}
@media screen and (max-width: 720px) {
 .skilltext>p{
font-size: 2vw;

 }
    
}
@media screen and (max-width:480px) {
 .skilltext>p{
   font-size: 2vw;
   
    }
.skillimg{
height: 2.25rem;
width: 2.25rem;

}
.skilltext>h2{
font-size: 5vw;

}    
   }
   
