#contactpage{
min-height: calc(100vh- 4rem);
width: 100vw;
max-width: 60rem;
margin: 0 auto;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.contactpagetitle{
font-size: 3rem;
margin-bottom: 1rem;
}
.clientdesc{
font-weight: 300;
font-size: 1rem;
}
.clientimage{
margin: 1rem 0;
display: flex;
flex-wrap: wrap;
}
.clientimg{
object-fit: cover;
width: 23%;
max-width: 9rem;
margin: auto;
}
#client{
padding: 2rem;

}
.contactdesc{
padding: 1rem;
font-size: medium;
font-weight: 300;
}
.contactform{
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 90vw;
max-width: 60rem;
}
.name,.email,.msg{
font-size: medium;
width: 100%;
max-width: 40rem;
margin: 0.5rem;
padding: o.5rem 1rem;
color: white;
border: none;
border-radius: 0.5rem;
background:rgb(40, 40, 40);
}
.submitbtn{
background: white;
border-radius:0.5rem ;
border: none;
margin: 2rem;
padding: 0.75rem 3.5rem;
}
.links{
display: flex;
flex-wrap: wrap;
}
.link{
object-fit: cover;
height: 3rem;
margin: 0 0.75rem;
}